@use "./variables.scss" as *;

// put your custom CSS here!

// トップページ(slug="index")の記事タイトル(Article Title)と日付などのメタ情報を非表示にする
[data-slug="index"] {
  .article-title {
    display: none;
  }
  .content-meta {
    display: none;
  }
}

// しおりの「湿度を含んだ静寂のUI」：行間と段落間の余白の調停
body {
  line-height: 1.7; // 文字の周りに心地よい呼吸のスペースを作る
}

p {
  margin-bottom: 1.5rem; // 段落間に通り抜ける風の隙間を作る
}
